.card {
	height: 520px;
	background-size: cover;
}

.containCardh1{
	padding-top: 15px;
	text-align: center;
}

.containCardp {
	text-align: center;
	border-radius: 10px;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
}

.containCarda {
	display: block;
	text-align: center;
}